<form id="contactForm" action="{{ site.formspree_action }}" name="sentMessage" novalidate="novalidate" method="POST">
    <div class="row justify-content-center">
        <div class="col-md-6 card">
            <h5>Please contact me...</h5>
            <div class="form-group">
                <input class="form-control" id="name" name="name" type="text" placeholder="Name *" required="required" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
                <input class="form-control" id="email" name="_replyto" type="email" placeholder="Email *" required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
                <input class="form-control" id="phone" name="phone" type="tel" placeholder="Phone Number *" required="required" data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
            </div>
            {%- case include.section -%}
                {% when 'HallHire' %}
                <input type="hidden" name="sectionHallHire" value="Hall Hire">
                {% when 'Joeys' %}
                <input type="hidden" name="sectionJoeys" value="Joey Scouts - 5 to 7 Years">
                {% when 'Cubs' %}
                <input type="hidden" name="sectionCubs" value="Cub Scouts - 8 to 10 Years">
                {% when 'Scouts' %}
                <input type="hidden" name="sectionScouts" value="Scouts - 11 to 14 Years">
                {% when 'Venturers' %}
                <input type="hidden" name="sectionVenturers" value="Venturer Scouts - 15 to 17 Years">
                {% when 'Rovers' %}
                <input type="hidden" name="sectionRovers" value="Rovers - 18 to 25 Years">
                {% when 'Leaders' %}
                <input type="hidden" name="sectionLeaders" value="Leaders and Adult Members">
                {% else %}
            <h5>About...</h5>
            <div class="form-check">
                <input class="form-check-input" name="sectionJoeys" type="checkbox" id="sectionJoeys" value="Joey Scouts - 5 to 7 Years">
                <label for="sectionJoeys"> Joey Scouts - 5 to 7 Years</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="sectionCubs" type="checkbox" id="sectionCubs" value="Cub Scouts - 8 to 10 Years">
                <label for="sectionCubs"> Cub Scouts - 8 to 10 Years</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="sectionScouts" type="checkbox" id="sectionScouts" value="Scouts - 11 to 14 Years">
                <label for="sectionScouts"> Scouts - 11 to 14 Years</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="sectionVenturers" type="checkbox" id="sectionVenturers" value="Venturer Scouts - 15 to 17 Years">
                <label for="sectionVenturers"> Venturer Scouts - 15 to 17 Years</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="sectionRovers" type="checkbox" id="sectionRovers" value="Rovers - 18 to 25 Years">
                <label for="sectionRovers"> Rovers - 18 to 25 Years</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="sectionLeaders" type="checkbox" id="sectionLeaders" value="Leaders and Adult Members">
                <label for="sectionLeaders"> Leaders and Adult Members</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="sectionHallHire" type="checkbox" id="sectionHallHire" value="Hall Hire">
                <label for="sectionHallHire"> Hall Hire</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="sectionOther" type="checkbox" id="sectionOther" value="Other">
                <label for="sectionOther"> Other</label>
            </div>
            {% endcase %}
            <h5>Comments?</h5>
            <div class="form-group">
                <textarea class="form-control" id="comments" name="message" placeholder="Comments" data-validation-required-message="Any additional comments?"></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <input type="hidden" name="_subject" value="New contact from bundoorascouts.org website" />
            <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
            <div class="g-recaptcha" data-sitekey="{{ site.recapcha_site_key }}" data-callback="onSubmit" data-action="submit"></div>
        </div>
    </div>
</form>
<script>
function onSubmit(token) {
    document.getElementById("contactForm").submit();
}
</script>