{%- if site.url -%}
  {%- assign seo_url = site.url | append: site.baseurl -%}
{%- endif -%}
{%- assign seo_url = seo_url | default: site.github.url -%}

{%- if page.title -%}
  {%- assign seo_title = page.title | append: " \| " | append: site.title -%}
{%- endif -%}

{%- if seo_title -%}
  {%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}
{%- endif -%}

{% if page.canonical_url %}
  {%- assign canonical_url = page.canonical_url %}
{% else %}
  {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}
{% endif %}

{%- assign seo_description = page.description | default: page.subtitle | default: page.excerpt | default: site.description -%}
{%- if seo_description -%}
  {%- assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once -%}
{%- endif -%}

{%- assign author = page.author | default: page.authors[0] | default: site.author -%}
{%- assign author = site.data.authors[author] | default: author -%}

{%- assign page_large_image = page.socialimage | default: page.heroimage -%}
{%- unless page_large_image contains '://' -%}
  {%- assign page_large_image = page_large_image | absolute_url -%}
{%- endunless -%}
{%- assign page_large_image = page_large_image | escape -%}

{%- assign page_teaser_image = page.teaserimage -%}
{%- unless page_teaser_image contains '://' -%}
  {%- assign page_teaser_image = page_teaser_image | absolute_url -%}
{%- endunless -%}
{%- assign page_teaser_image = page_teaser_image | escape -%}

{%- assign site_og_image = '/assets/images/hero-1.jpg' -%}
{%- unless site_og_image contains '://' -%}
  {%- assign site_og_image = site_og_image | absolute_url -%}
{%- endunless -%}
{%- assign site_og_image = site_og_image | escape -%}

{%- if page.date -%}
  {%- assign og_type = "article" -%}
{%- else -%}
  {%- assign og_type = "website" -%}
{%- endif -%}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>{{ seo_title }}</title>
  
  {% if seo_description %}<meta name="description" content="{{ seo_description }}"/>{% endif %}
  {% if author.name %}<meta name="author" content="{{ author.name | default: author }}">{% endif %}

  <!-- Bootstrap Core CSS -->
  <link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css">

  <!-- Custom Fonts -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap" rel="stylesheet" type="text/css">

  <!-- Jarallax -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jarallax/1.11.0/jarallax.css" integrity="sha256-V2A9O7C7s/tmDXB19fUyCJhPNsZ+dXw+xsoG73GezyQ=" crossorigin="anonymous" />

{% if page.custom_css %}
  <!-- Page CSS -->
{% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{ stylesheet }}" media="screen" type="text/css">
{% endfor %}{% endif %}

  <!-- Site CSS -->
  <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet" type="text/css">

  <link rel="alternate" href="{{site.baseurl}}/feed.xml" type="application/atom+xml">
  <link rel="icon" href="{{site.baseurl}}/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/assets/images/site.webmanifest">
  <link rel="mask-icon" href="{{site.baseurl}}/assets/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="{{site.baseurl}}/assets/images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:locale" content="en_AU">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta property="og:url" content="{{ canonical_url }}">
  {% if seo_description %}<meta property="og:description" content="{{ seo_description }}">{% endif %}
  <meta property="og:image" content="{{ page_large_image | default: page_teaser_image | default: site_og_image | prepend: site.baseurl }}">
  {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
  {% if og_type == "article" and page.last_modified_at %}<meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}
  <link rel="canonical" href="{{ canonical_url }}">
  {% if paginator.previous_page %}<link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">{% endif %}
  {% if paginator.next_page %}<link rel="next" href="{{ paginator.next_page_path | absolute_url }}">{% endif %}
  
</head>