<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="">

  <title>{{ page.title }} | Bundoora Scout Group</title>

  <!-- Bootstrap Core CSS -->
  <link href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css">

  <!-- Custom Fonts -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Nunito+Sans:100,700&display=swap" rel="stylesheet" type="text/css">

  <!-- Site CSS -->
  <link href="{{site.baseurl}}/assets/css/site.css" rel="stylesheet" type="text/css">

  <link rel="alternate" href="{{site.baseurl}}/feed.xml" type="application/atom+xml">
  <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.ico">

  <meta property="og:title" content="{{ page.title }} | Bundoora Scout Group" />
  <meta property="og:url" content="{{ site.baseurl }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="{{site.baseurl}}/assets/images/favicon-96x96.png" />
</head>