<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation">
  <div class="container">

    <a class="navbar-brand" href="/"><img alt="Bundoora Scout Group" src="/assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a aria-expanded="false"
          
            aria-haspopup="true"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            id="navbarNavDropdownSectionsLink">Sections</a>
            <div class="dropdown-menu" aria-labelledby="navbarNavDropdownSectionsLink">
              <a class="dropdown-item" href="/sections/joey-scouts">Joey Scouts</a>
              <a class="dropdown-item" href="/sections/cub-scouts">Cub Scouts</a>
              <a class="dropdown-item" href="/sections/scouts">Scouts</a>
              <a class="dropdown-item" href="/sections/venturers">Venturers</a>
              <a class="dropdown-item" href="/sections/rovers">Rovers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false"
            aria-haspopup="true"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            id="navbarNavDropdownScoutingLink">About Scouting</a>
          <div class="dropdown-menu" aria-labelledby="navbarNavDropdownScoutingLink">
            <a class="dropdown-item" href="/about-scouting/parent-information">Parent Information</a>
            <a class="dropdown-item" href="/about-scouting/what-is-scouting">What is Scouting?</a>
            <a class="dropdown-item" href="/about-scouting/who-runs-scouting">Who runs Scouting?</a>
            <a class="dropdown-item" href="/about-scouting/becoming-a-leader">Becoming a Leader</a>
            <a class="dropdown-item" href="/about-scouting/group-committee">Group Committee</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false"
            aria-haspopup="true"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            id="navbarNavDropdownAboutLink">About Us</a>
          <div class="dropdown-menu" aria-labelledby="navbarNavDropdownAboutLink">
            <a class="dropdown-item" href="/about-us/our-leaders">Our Leaders</a>
            <a class="dropdown-item" href="/about-us/our-mission">Our Mission</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link highlight"
              href="/contact-us">Contact Us</a>
        </li>
      </ul><!-- End Menu -->
    </div>
  </div>
</nav>