<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/logo.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link highlight"
                        href="{{site.baseurl}}/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false"
                    
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    id="navbarNavDropdownSectionsLink">Sections</a>
                    <div class="dropdown-menu" aria-labelledby="navbarNavDropdownSectionsLink">
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/sections/joey-scouts.md %}">Joey Scouts</a>
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/sections/cub-scouts.md %}">Cub Scouts</a>
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/sections/scouts.md %}">Scouts</a>
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/sections/venturer-scouts.md %}"">Venturer Scouts</a>
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/sections/adult-volunteers.md %}">Adult Volunteers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false"
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    id="navbarNavDropdownScoutingLink">About Scouting</a>
                    <div class="dropdown-menu" aria-labelledby="navbarNavDropdownScoutingLink">
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/about-scouting/parent-caregiver-information.md %}">Parent & Caregiver Information</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link highlight"
                        href="{{site.baseurl}}{% link the-campfire/index.html %}">The Campfire</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false"
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    id="navbarNavDropdownAboutLink">About Us</a>
                    <div class="dropdown-menu" aria-labelledby="navbarNavDropdownAboutLink">
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/about-us/our-leaders.md %}">Our Leaders</a>
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/calendar.md %}">Event Calendar</a>
                        <a class="dropdown-item" href="{{site.baseurl}}{% link _pages/about-us/hall-hire.md %}">Hall Hire</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link highlight"
                        href="{{site.baseurl}}{% link _pages/contact-us.md %}">Contact Us</a>
                </li>
            </ul><!-- End Menu -->
        </div>
    </div>
</nav>