<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="team-member">
{%- assign path = site.baseurl | append: '/assets/images/people/' | append: include.slug | append: '.jpg' -%}
{%- assign file = site.static_files | where: "path", path | first -%}
{%- if file -%}
        <img class="mx-auto rounded-circle" src="{{ path }}" alt="{{ include.title }}">
{%- else -%}
        <img class="mx-auto rounded-circle" src="/assets/images/people/nophoto.jpg" alt="{{ include.title }}">
{%- endif -%}
        <h4>{{ include.title }}</h4>
        <p class="text-muted">{% if include.alias %}<strong>{{ include.alias }}</strong><br/>{% endif %}{{ include.role }}</p>
    </div>
</div>