{% assign video_id = include.id | default: include.code %}
{% if video_id %}
<div class="my-8 rounded-xl overflow-hidden aspect-video shadow-[0_40px_60px_rgba(16,14,76,0.08)]">
  <iframe
    src="https://www.youtube.com/embed/{{ video_id }}"
    title="{{ include.title | default: 'YouTube video' }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="w-full h-full">
  </iframe>
</div>
{% endif %}
