#share-buttons {
    display: inline-block;
    vertical-align: middle;

    :after {content: ""; display: block; clear: both;}
    > div {
        position: relative;
        text-align: left; 
        height: 36px; 
        width: 32px; 
        float: left; 
        text-align: center;
    }

    > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
    > div:hover {cursor: pointer;}
    > div.facebook:hover > svg {fill: #3B5998;}
    > div.twitter:hover > svg {fill: #55ACEE;}
    > div.linkedin:hover > svg {fill: #0077b5;}
    > div.pinterest:hover > svg {fill: #CB2027;}
    > div.gplus:hover > svg {fill: #dd4b39;}
    > div.mail:hover > svg {fill: #7D7D7D;}
    > div.instagram:hover > svg {fill: #C73B92;}
    > div.facebook > svg {height: 18px; margin-top: 9px;}
    > div.twitter > svg {height: 20px; margin-top: 8px;}
    > div.linkedin > svg {height: 19px; margin-top: 7px;}
    > div.pinterest > svg {height: 20px; margin-top: 9px;}
    > div.gplus > svg {height: 17px; margin-top: 9px; position: relative; left: 1px;}
    > div.mail > svg {height: 14px; margin-top: 11px;}
}
