---
layout: text-page
title: "The Campfire"
subtitle: "Bundoora Scout Group Blog"
image: /uploads/hero/campfire-2.jpg
pagination:
  enabled: true
---

{% assign sorted = paginator.posts | where_exp: "item","item.sitemap != false" %}
<div class="row">
  <div class="col-md-12">
    {% for post in sorted %}
      <div class="post-card-horizontal">
        <a href="{{ post.url | replace: '//', '/' }}" class="post-card-img-link">
          {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" class="post-card-img">
          {% else %}
            <img src="/assets/images/placeholder.jpg" alt="Placeholder Image" class="post-card-img">
          {% endif %}
        </a>
        <div class="post-card-body">
          <h2 class="post-title"><a href="{{ post.url | replace: '//', '/' }}">{{ post.title }}</a></h2>
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
          <div class="post-card-footer text-muted">
            <small>
              {% if post.author %}
                {% for author in post.author %}
                  {% assign person = site.people | where: 'title', author | first %}
                  {% if person %}
                    <a href="{{ person.url }}">{{ person.title }}</a> &middot;
                  {% else %}
                    {{ author }} &middot;
                  {% endif %}
                {% endfor %}
              {% endif %}
              {{ post.date | date: '%B %d, %Y' }} &middot; {% include read-time.html content=post.content %}
            </small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
