---
layout: text-page
---

{{ content }}

<!--<div class="container">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default" autocomplete="off" />
            <div class="btn-group">
                <label for="fancy-checkbox-default" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="fancy-checkbox-default" class="btn btn-default active">
                    Default Checkbox
                </label>
            </div>
        </div>
    </div>
</div>-->

<div id="calendar"></div>