---
layout: default
---
<!-- Intro Header -->
<header class="intro-header" style="background-image: url('{{site.baseurl}}/assets/images/hero-2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="page-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-section" id="eventFilter">
    <div class="container" id="filterResults">
        <div class="row text-center">
            <div class="col-sm-3">
                <div class="checkbox checkbox-circle checkbox-group">
                    <input id="checkbox1" type="checkbox" checked>
                    <label>Group</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="checkbox checkbox-circle checkbox-joeys">
                    <input id="checkbox2" type="checkbox" checked>
                    <label>Joey Scouts</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="checkbox checkbox-circle checkbox-cubs">
                    <input id="checkbox3" type="checkbox" checked>
                    <label>Cub Scouts</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="checkbox checkbox-circle checkbox-scouts">
                    <input id="checkbox4" type="checkbox" checked>
                    <label>Scouts</label>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light page-section" id="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="calendar"></div>

{% include share-buttons.html %}
    
{% include top-link.html %}
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'googleCalendar','dayGrid','list' ],
        defaultView: 'listMonth',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'listMonth,dayGridMonth'
        },
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        firstDay: 1,
        googleCalendarApiKey: 'AIzaSyBvCUFdTuwiXzhJrlqDR4mcflnEkjMoCNQ',
        eventSources: [
            {
                // Group
                googleCalendarId: 'bundoorascouts.org_a0aqsgr4p885kj0fj7640t17cg@group.calendar.google.com',
                color: '#91daf7'
            },
            {
                // Joey Scouts
                googleCalendarId: 'bundoorascouts.org_t6jars5jkgrhq89bt5i0jq9984@group.calendar.google.com',
                color: '#b65518'
            },
            {
                // Cub Scouts
                googleCalendarId: 'bundoorascouts.org_2mhtchtdtun49c5ig1f8c6pikk@group.calendar.google.com',
                color: '#ffc82e'
            },
            {
                // Scouts
                googleCalendarId: 'bundoorascouts.org_sgvh4qvmb8boq0v7pt55t0aqj4@group.calendar.google.com',
                color: '#00ae42'
            },
            {
                // Victorian Public Holidays
                googleCalendarId: '00r5afqta4ttib6btpvd5vcab4fijl04@import.calendar.google.com',
                color: '#000'
            },
            {
                // Victorian School Holidays
                googleCalendarId: 'jdniq4t5t5h8umf67ufk36s54m4s0pp9@import.calendar.google.com',
                color: '#000'
            }
        ]
    });
    calendar.render();
});
</script>