{%- assign base = '' -%}
{%- assign depth = page.url | split: '/' | size | minus: 1 -%}
{%- if depth <= 1 -%}
    {% assign base = '.' %}
{%- elsif depth == 2 -%}
    {% assign base = '..' %}
{%- elsif depth == 3 -%}
    {% assign base = '../..' %}
{%- elsif depth == 4 -%}
    {% assign base = '../../..' %}
{%- endif -%}
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
{% include navbar.html %}

{{ content }}

{% include footer.html %}

{% include scripts.html %}
</body>
</html>