---
layout: default
---
<!-- Header -->
<header class="masthead">
	<div class="container">
		<div class="intro-text">
			<h1>Welcome to<br/>Bundoora Scout Group</h1>
		</div>
	</div>
</header>
<!-- Sections Grid -->
<section class="page-section" id="sections">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Explore Our Sections</h2>
				<!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-4 sections-item">
				<a class="sections-link" data-toggle="modal" href="{{site.baseurl}}/sections/joey-scouts">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-joey-scouts.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Joey Scouts</h4>
					<p class="text-muted">Ages 5-7</p>
				</div>
			</div>
			<div class="col-sm-4 sections-item">
				<a class="sections-link" data-toggle="modal" href="{{site.baseurl}}/sections/cub-scouts">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-cub-scouts.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Cub Scouts</h4>
					<p class="text-muted">Ages 8-11</p>
				</div>
            </div>
			<div class="col-sm-4 sections-item">
				<a class="sections-link" data-toggle="modal" href="{{site.baseurl}}/sections/scouts">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-scouts.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Scouts</h4>
					<p class="text-muted">Ages 11-14</p>
				</div>
			</div>
		</div>
	</div>
</section>