---
layout: default
---
<!-- Header -->
<header class="masthead">
	<div class="container">
		<div class="intro-text">
			<h1>Welcome to<br/>Bundoora Scout Group</h1>
		</div>
	</div>
</header>
<!-- Sections Grid -->
<section class="page-section" id="sections">
	<div class="container">
		<div class="row text-center">
			<div class="col">
				<h2 class="section-heading text-uppercase">Explore Our Sections</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="col sections-item">
				<a class="sections-link" href="{{site.baseurl}}/sections/joey-scouts">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-joey-scouts.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Joey Scouts</h4>
					<p class="text-muted">Ages 5-7</p>
				</div>
			</div>
			<div class="col sections-item">
				<a class="sections-link" href="{{site.baseurl}}/sections/cub-scouts">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-cub-scouts.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Cub Scouts</h4>
					<p class="text-muted">Ages 8-10</p>
				</div>
            </div>
			<div class="col sections-item">
				<a class="sections-link" href="{{site.baseurl}}/sections/scouts">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-scouts.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Scouts</h4>
					<p class="text-muted">Ages 11-14</p>
				</div>
			</div>
			<div class="col sections-item">
				<a class="sections-link" href="{{site.baseurl}}/sections/venturer-scouts">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-venturer-scouts.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Venturer Scouts</h4>
					<p class="text-muted">Ages 15-17</p>
				</div>
			</div>
			<div class="col sections-item">
				<a class="sections-link" href="{{site.baseurl}}/sections/rover-scouts">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-rover-scouts.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Rover Scouts</h4>
					<p class="text-muted">Ages 18-25</p>
				</div>
			</div>
			<div class="col sections-item">
				<a class="sections-link" href="{{site.baseurl}}/sections/adult-volunteers">
					<div class="sections-hover">
						<div class="sections-hover-content">
							<i class="fas fa-plus fa-3x"></i>
						</div>
					</div>
					<img class="img-fluid" src="{{site.baseurl}}/assets/images/logo-adults.png" alt="">
				</a>
				<div class="sections-caption">
					<h4>Adult Volunteers</h4>
					<p class="text-muted">Ages 18+</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- "The Campfire" blog -->
<section class="bg-light page-section" id="blog">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">The Campfire</h2>
				<h3 class="section-subheading text-muted">Latest news and stories from our group.</h3>
            </div>
        </div>
        <div class="row">
			<!-- Home Post List -->
			{% assign sorted_posts = site.posts | where_exp: "item", "item.sitemap != false" %}
			{% for post in sorted_posts limit: 4 %}
			<div class="col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
				<a class="post-card" href="{{ post.url | relative_url }}" title="{{ post.title }}">
					{%- if jekyll.environment == "development" -%}
					<img class="post-card-img-top" src="/assets/images/logo-xl.png" alt="Post image for {{ post.title }}" width="400" height="180">
					{%- elsif post.image -%}
					<img class="post-card-img-top" src="//images.weserv.nl/?url={{ site.url | append: site.baseurl | append: post.image }}&w=400&h=180&fit=cover&output=jpg&q=85" alt="Post image for {{ post.title }}">
					{%- else -%}
					<img class="post-card-img-top" src="//images.weserv.nl/?url={{ site.url | append: site.baseurl }}/assets/images/logo-xl.png&w=400&h=180&fit=contain&pad=20&output=jpg&q=85&bg=ffffff" alt="Bundoora Scouts">
					{%- endif -%}
					<div class="post-card-body">
						<h4 class="post-title">{{ post.title }}</h4>
						<p class="text-muted">{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
					</div>
					<div class="post-card-footer">
						<small class="text-muted">{{ post.date | date: '%B %d, %Y' }}</small>
					</div>
				</a>
			</div>
			{% endfor %}
        </div>
		<!-- Pager -->
		<div class="row">
			<div class="col-12 text-center">
				<a class="btn btn-primary" href="{{"/the-campfire" | relative_url }}">View All Posts &rarr;</a>
			</div>
		</div>
	</div>
</section>
