---
layout: default
---

{%- assign image = '/assets/images/hero-2.jpg' -%}
{%- if page.image -%}
    {% assign image = page.image %}
{%- endif -%}
<!-- Intro Header -->
<header class="intro-header" style="background-image: url('{{site.baseurl | append: image }}')">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-section" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col">
                {{ content }}
            </div>
        </div>
        <div class="row">
            {%- for sponsor in page.sponsors -%}
            <div class="col-lg-4 d-flex align-items-center justify-content-around mt-4">
                <div class="sponsor-item">
                    <a href="{{ sponsor.url }}" target="_blank">
                        {% if sponsor.logo %}
                        <img class="img-fluid" src="{{site.baseurl}}/assets/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                        {% else %}
                            {{ sponsor.name }}
                        {% endif %}
                    </a>
                    {% if sponsor.description %}
                    <p class="text-muted">{{ sponsor.description }}</p>
                    {% endif %}
                </div>
            </div>
            {%- endfor -%}
        </div>
        <div class="row">
            <div class="col">
                <hr>

{% include share-buttons.html %}

{% include top-link.html %}
            </div>
        </div>
    </div>
</section>