---
layout: default
---

{%- assign heroimage = '/assets/images/hero-3.jpg' -%}
{%- if page.heroimage -%}
    {% assign heroimage = page.heroimage %}
{%- endif -%}
{%- assign pageTitle = page.title -%}
{%- if page.autopages -%}
    {% assign pageTitle = page.autopages.display_name %}
{%- endif -%}
<!-- Intro Header -->
<header class="intro-header" style="background-image: url('{{site.baseurl}}{{heroimage}}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="page-heading">
                    <h1>{{ pageTitle }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<section class="content-section" id="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

{{ content }}

<hr>

{% include share-buttons.html %}

{% include top-link.html %}
            </div>
        </div>
    </div>
</section>