// Styling for the team section
.sponsor-item {
    margin-bottom: 50px;
    text-align: center;
    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
    }
    p {
      margin-top: 5px;
    }
  }
  