// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #030303 !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #adb5bd !default;
$secondary: #046a50 !default;

$joeys: #df8c29 !default;
$cubs: #fec82b !default;
$scouts: #7dbd41 !default;
$venturers: #9f1b33 !default;
$rovers: #ec6851 !default;
